.container {
/*	width: 640px !important;
	height: 480px !important;*/
    width: 970px !important;
    min-height: 480px !important;
}
.gridPrintExpense .filters{
	display: none;
}
.printCenter{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.pre-wrap{
    white-space: pre-wrap;
}
.margin{
    margin-top: 360px;
}
.font{
    font-family: 'Times New Roman';
    font-size: 13px;
}