.container {
	width: 640px !important;
	height: 480px !important;
}
.gridPrintExpense .filters{
	display: none;
}
.printCenter{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.pre-wrap{
    white-space: pre-wrap;
}
.margin{
    margin-top: 200px;
}